*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../Images/Super_Mario_Clouds.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    background-color: #0801cf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    position: fixed;
    width: 100%;
    height: 13%;
    border-radius: 10px;
    padding: 50px;
}

.navigator{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.nav-links a:hover{
    color: red;
    transform: scale(0.9);
}

.navigator{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo{
    width: 7rem;
}

.logout-btn{
    background: url(../Images/brick\ minecraft.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}
.logout-btn:hover{
    background-color: gold;
    transform: scale(0.9);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    cursor: default;
}

.hero h1{
    color: tomato;
}

.hero h3{
    color: tomato;
}

.hero-content{
    margin-top: 120px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.contacts{
    padding-top: 20px;
    display: flex;
    justify-content: right;
    margin: 30px;
}

.contact-btn{
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: orangered;
    transition: all 0.2s ease-in-out;
}

.contact-btn:hover{
    transform: scale(0.9);
    box-shadow: 0 0 3px #ffc067, 0 0 7px #ffc067, 0 0 20px #ff5c00;
}

.mario-flying{
    position: absolute;
    top: 260px;
    left: -30px;
    cursor: help;
}

.message p{
    color: white;
}

@media (max-width: 450px) {
    body{
        background: url(../Images/Mario\ Background.jpg);
        background-repeat: no-repeat;
        height: 100vh;
    }
    .navbar{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .nav-links{
        gap: 10px;
    }
    .hero{
        height: 125vh;
        padding-top: 200px;
    }
    .mario-flying{
        display: none;
    }
    .hero-content{
        width: 90%;
    }
    
}

@media (max-width: 370px) {
    body{
        background: url(../Images/Mario\ Background.jpg);
        background-repeat: no-repeat;
        height: 100vh;
    }
    .navbar{
        flex-direction: column;
        height: auto;
        padding: 20px;
        font-size: 14px;
    }
    .nav-links{
        gap: 10px;
    }
    .hero{
        height: 150vh;
        padding-top: 200px;
    }
    .mario-flying{
        display: none;
    }
    .hero-content{
        width: 90%;
    }
    
}