*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: url(../Images/mario.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #0801cf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    position: fixed;
    width: 100%;
    height: 13%;
    border-radius: 10px;
}

.navigator{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo{
    width: 7rem;
}

.nav-title{
    font-weight: bold;
    font-size: 25px;
    cursor: default;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    
}

.hero-content{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/mario\ block.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(235, 33, 33, 0.1);
}

.hero-content h1{
    font-size: 3rem;
    margin: 5px;
    color: gold;
}

.hero-content h1:hover{
    cursor: default;
}

.hero-content p{
    color: yellow;
    margin-bottom: 25px;
}

.hero-content p:hover{
    cursor: default;
}

.hero-btn{
    background: url(../Images/mario\ coin\ block.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 50px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}
.hero-btn:hover{
    background-color: gold;
    transform: scale(0.9);
}

.credit{
    background-color: gold;
    display: flex;
    text-align: center;
    align-items: center;
}